@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <section class="section" style="max-width: 50%; text-align: left;">
        <div class="container">
            <h1 class="title">List Suppression</h1>
            <p class="subtitle">
                Upload a CSV file to filter out consumers that have purchased cars
                since the indicated date
            </p>
            <form>
                <div class="field">
                    <label class="label">Select a list to filter (CSV)</label>
                    <div class="control">
                        <input class="input" type="file" placeholder="Text input" />
                    </div>
                </div>
                <div class="field">
                    <label class="label">Filter consumers from this date</label>
                    <div class="control">
                        <input class="input" type="date" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-info">Filter</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--To add ng if to show/hide div-->
    <section class="section">
        <div class="container">
            <article class="message is-info">
                <div class="message-header">
                    <p>Filtering...</p>
                </div>
                <div class="message-body">
                    <progress class="progress is-info" max="100">60%</progress>
                </div>
            </article>
        </div>
    </section>
    <!--To add ng if to show/hide div-->
    <section class="section">
        <div class="container">
            <h2 class="is-size-4 title">Filtered records</h2>
            <button class="button is-info">
                <span class="icon">
                    <i class="fas fa-download"></i>
                </span>
                <span>Download (CSV)</span>
            </button>
        </div>
    </section>
</div>
